[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservice-AWTECH/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservice-AWTECH/products-microservice.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Nest-Microservice-AWTECH/orders-microservice.git
